<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Auto Mate</title>
    <link rel='stylesheet' href='../styles/login.css'>
  </head>
  <body>
    <div class="mainContainer">
      <div class="header">
        <h1>Welcome</h1>
        <p>Please log in below.</p>
      </div>
      <form class="loginForm">
        <input type="text" class="textInput" id="userText" autofocus placeholder="Username">
        <br>
        <input type="password" class="textInput" id="passText" placeholder="Password">
        <br>
        <br>
        <button class='submitButton' id="loginButton">Login</button>
      </form>
    </div>
    <script src='../../scripts/login.js'></script>
  </body>
</html>