<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Auto Mate</title>
    <link rel="stylesheet" href="../styles/mainview.css" />
    <link rel="stylesheet" href="../styles/menu.css" />
  </head>
  <body>
    <div class="menu" id="nav-menu">
      <a href="#" class="close-button" onclick="toggleNav()">&#9776;</a>
      <a href="./dashboard.html" id="active">Dashboard</a>
      <a href="./sync.html">Sync</a>
      <a href="./automate.html">Automate</a>
      <a href="./reports.html">Reports</a>
      <a href="./settings.html">Account</a>
      <a href="#" class="bottom">Log Out</a>
    </div>
    <div class="main-view" id="main-view">
      <p>Dashboard Page</p>
      <button onclick="sendRequest('outlet_on')">Outlet On</button>
      <button onclick="sendRequest('outlet_off')">Outlet Off</button>
      <button id="logout">LOGOUT</button>
      <div class="profile">
        <img id="picture"/>
        <span id="name"></span>
      </div>
      <div id="outlet_state"></div>
    </div>
    <script src="../../scripts/navmenu.js"></script>
    <script src="../../scripts/send.js"></script>
    <script src="../../scripts/logout.js"></script>
    <script src="../../scripts/server.js"></script>
    <script src="../../scripts/state_update.js"></script>
  </body>
</html>