<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Auto Mate</title>
    <link rel='stylesheet' href='../styles/mainview.css'>
  </head>
  <body>
    <div>
      <a href="./dashboard.html" class="active">Dashboard</a>
      <a href="./sync.html">Sync</a>
      <a href="./automate.html">Automate</a>
      <a href="./reports.html">Reports</a>
      <a href="./settings.html">Account</a>
    </div>
    <div class="main-view" id="main">
      <p>Dashboard Page</p>
    </div>
  </body>
</html>