<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/carousel.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Auto Hue</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./index.html">Dashboard</a>
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span>Devices and Groups</a>
                <a class="nav-item nav-link" href="#">Device (Temp)</a>
                <a class="nav-item nav-link" href="#">Settings</a>
                <a class="nav-item nav-link" id="logout" href="#">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card">
            <h2 class="card-header">Devices</h2>
            <div class="card-body">
                <!-- Code adapted from: https://www.codeply.com/go/zjZsn1ly29 -->
                <div class="row mx-auto my-auto">
                    <div id="deviceCarousel" class="carousel slide w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=1">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=2">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=3">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=4">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=5">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=6">
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev bg-dark w-auto" href="#deviceCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next bg-dark w-auto" href="#deviceCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h2 class="card-header">Groups</h2>
            <div class="card-body">
                <!-- Code adapted from: https://www.codeply.com/go/zjZsn1ly29 -->
                <div class="row mx-auto my-auto">
                    <div id="groupCarousel" class="carousel slide w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=1">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=2">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=3">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=4">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=5">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3">
                                    <img class="img-fluid" src="http://placehold.it/350x180?text=6">
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev bg-dark w-auto" href="#groupCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next bg-dark w-auto" href="#groupCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script> window.jQuery = window.$ = require('jquery'); </script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../scripts/carousel.js"></script>

</body>

</html>