<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Auto Hue</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="./index.html">Dashboard<span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="./devices.html">Devices and Groups</a>
                <a class="nav-item nav-link" href="#">Device (Temp)</a>
                <a class="nav-item nav-link" href="#">Settings</a>
                <a class="nav-item nav-link" id="logout" href="#">Logout</a>
            </div>
        </div>
    </nav>
    <div class="card">
        <h2 class="card-header">Dashboard</h2>
        <div class="card-body">
            <h3>Test Page</h3>
        </div>
    </div>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>