<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Auto Mate</title>
    <link rel='stylesheet' href='../styles/mainview.css'>
    <link rel='stylesheet' href='../styles/menu.css'>
  </head>
  <body>
    <div class="menu" id="nav-menu">
      <a href="#" class="close-button" onclick="toggleNav()">&#9776;</a>
      <a href="./dashboard.html">Dashboard</a>
      <a href="./sync.html">Sync</a>
      <a href="./automate.html">Automate</a>
      <a href="./reports.html" id="active">Reports</a>
      <a href="./settings.html">Account</a>
      <a href="#" class="bottom">Log Out</a>
    </div>
    <div class="main-view" id="main-view">
      <p>Reports Page</p>
    </div>
    <script src="../../scripts/navmenu.js"></script>
  </body>
</html>