<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Auto Mate</title>
    <link rel="stylesheet" href="../styles/mainview.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">AutoMate</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="./dashboard.html">Dashboard<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="./sync.html">Sync</a>
          <a class="nav-item nav-link" href="./automate.html">Automate</a>
          <a class="nav-item nav-link" href="./reports.html">Reports</a>
          <a class="nav-item nav-link" href="./settings.html">Account</a>
          <a class="nav-item nav-link" id="logout" href="#">Logout</a>        
        </div>
      </div>
    </nav>
    <div class="card" id="main-view">
      <h2 class="card-header">Account Settings</h2>
      <div class="card-body">
        <div class="section">
          <button class="section-header" onClick="console.log('a')">Account</button>
          <div class="section-body" id="account-section">
            <div class="portion">
              <label for="avatar">Change Avatar</label><br>
              <img src="../../missing_avatar.svg" onClick="console.log('Change Avatar')" id="avatar" class="avatar">
            </div>
            <div class="portion">
              <label for="username">Username</label>
              <input type="text" placeholder="username" id="username">
            </div>
            <div class="portion">
              <label for="password">Password</label>
              <input type="password" placeholder="password" id="password">
            </div>
            <button class="form-undo">Revert</button>
            <button class="form-submit" onClick="submitAccountSettings()">Apply</button>
          </div>
        </div>
        <div class="section">
            <button class="section-header" onClick="console.log('a')">Display</button>
            <div class="section-body" id="display-section">
              <div class="portion" id="portion">
                <label for="resolution-select" id="la">Screen Resolution</label>
                <select id="resolution-select">
                  <option>1920 x 1080</option>
                  <option>1600 x 1000</option>
                  <option>1366 x 768</option>
                </select>
              </div>
              <button class="form-undo">Revert</button>
              <button class="form-submit" onClick="submitDisplaySettings()">Apply</button>
            </div>
        </div>
      </div>
    </div>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../scripts/logout.js"></script>
    <script src="../../scripts/settings-page.js"></script>
  </body>
</html>
